build
dist
.idea
lynsys.spec
__pycache__
upload
manager.spec
common/__pycache__
deploy/pca/manager
deploy/pca/static
deploy/pca/result.xls
deploy/pca/library/new_situ_pos_20*
result.xls
library/new_situ_pos_20*
